<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <p class="h1 mt-5">hello world</p>
</body>
</html>
