<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>

    <%- include('../partials/header.ejs') %>

</head>
<body>
   <%- include('../partials/navbar.ejs') %>


   
   <%- include('../partials/footer.ejs') %>
   <%- include('../asset/js/logout.ejs') %>


</body>
</html>