
<div class="alert alert-success w-75  m-auto text-center mt-4 visually-hidden position-absolute top-35 start-50 translate-middle" role="alert" id="notification_succes">
    Compté créer avec sucssès ! Vous allez être redirige dans votre espace 
</div>

<div class="alert alert-danger w-75  m-auto text-center mt-4 visually-hidden position-absolute top-35 start-50 translate-middle" role="alert" id="notification_fail">
    L'adresse mail que vous utiliez est déjà liée un compte existant.
    <a href="/login">Vous connectez</a>&nbsp;
    <a href="">Mot de passe oublier</a>
</div>


<div class="alert alert-success w-75  m-auto text-center mt-4 visually-hidden position-absolute top-35 start-50 translate-middle" role="alert" id="notification_succes_connect">
    Connexion réussi ! Vous allez être redirige dans votre espace 
</div>


<div class="alert alert-danger w-75  m-auto text-center mt-4 visually-hidden position-absolute top-35 start-50 translate-middle" role="alert" id="notification_fail_connect">
    Connexion échoué !
    &nbsp;<a href="">Mot de passe oublier</a>
</div>